In [17]:
import numpy as np
import pandas as pd

#creat train dataset
data = pd.DataFrame()
data['Gender'] = ['male','male','male','male','female','female','female','female']
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]
X_train,y_train=data[['Height','Weight','Foot_Size']],data['Gender']
X_train

   Height  Weight  Foot_Size
0    6.00     180         12
1    5.92     190         11
2    5.58     170         12
3    5.92     165         10
4    5.00     100          6
5    5.50     150          8
6    5.42     130          7
7    5.75     150          9

In [18]:
# Create test dataset
X_test = pd.DataFrame()
X_test['Height'] = [6]
X_test['Weight'] = [130]
X_test['Foot_Size'] = [8]
X_test

   Height  Weight  Foot_Size
0       6     130          8

In [19]:
from sklearn.naive_bayes import GaussianNB
G_nb=GaussianNB().fit(X_train,y_train)
G_nb.predict(X_test)

array(['female'], dtype='<U6')

In [20]:
G_nb.predict_proba(X_test)

array([[9.99999846e-01, 1.54426632e-07]])